<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="sales_customization"
        name="Export Module"
        />
    <menuitem
        id="packaging_details"
        name="Packaging Detail"
        parent="sales_customization"
        />

    <menuitem
        id="menu_hs_code"
        name="HS Codes"
        parent="sales_customization"  
       
        sequence="20" 
    />



</odoo>